Session_17-18/session18/exercise2/music schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="playlist">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="title"/>
              <xs:element type="xs:string" name="album"/>
              <xs:element type="xs:string" name="country"/>
              <xs:element type="xs:string" name="kind"/>
              <xs:element type="xs:string" name="singer"/>
              <xs:element type="xs:string" name="release_time"/>
              <xs:element type="xs:string" name="label"/>
              <xs:element type="xs:string" name="category"/>
              <xs:element type="xs:string" name="genre"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>